.cart-page {
  width: 100%;
}

.cart-header {
  width: 90%;
  margin: 4% auto;
  padding-left: 5%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  font-size: 1.5rem;
  color: #9e9e9e;
}

.cart-header i {
  font-size: 1.8rem;
}

.cart-container {
  width: 85%;
  margin: 5% auto;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.cart-items-container {
  width: 70%;
  border-radius: 5px;
  box-shadow: #0000000d 0px 6px 24px 0px, #00000014 0px 0px 0px 1px;
}

.cart-item-card {
  width: 90%;
  padding: 2%;
  margin: 3% auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: #0000000d 0px 6px 24px 0px, #00000014 0px 0px 0px 1px;
}

.cart-item-image {
  height: 7rem;
  width: 7rem;
  border-radius: 3px;
  background-color: red;
}

.cart-item-image > img {
  height: 100%;
  width: 100%;
  border-radius: 3px;
  object-fit: cover;
}

.cart-item-name {
  width: 35%;
}

.cart-item-name a {
  text-decoration: none;
  color: #474747;
  font-size: 1.2rem;
  font-weight: 500;
}

.cart-item-quantity {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cart-item-quantity i {
  cursor: pointer;
  font-size: 1.1rem;
}

.cart-item-quantity span,
.cart-item-price {
  color: #474747;
  font-size: 1.2rem;
  font-weight: 500;
}

.cart-item-price {
  width: 20%;
}

.cart-item-remove {
  cursor: pointer;
  font-size: 1.1rem;
}

.sub-total-container {
  width: 25%;
  padding: 2%;
  border-radius: 5px;
  box-shadow: #0000000d 0px 6px 24px 0px, #00000014 0px 0px 0px 1px;
}

.sub-total-container h1 {
  color: #474747;
}

.proceed-to-checkout-button {
  width: 80%;
  margin: 10% 7% 1% 7%;
  padding: 3% 0%;
  background-color: #f8c12c;
  border: 1px solid #313131;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
}
