.page-header {
  width: 95%;
  margin-top: -1.5%;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome-company {
  width: 30%;
  font-size: 1rem;
  font-weight: 300;
  color: #626262;
  letter-spacing: 0.2rem;
  text-align: center;
}

.social-media-container {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social-media-container a {
  font-size: 1.3rem;
  padding-left: 5%;
  border-left: 1px solid #dedede;
  text-decoration: none;
  color: #626262;
}

.social-media-container a:hover {
  transition: all 0.2s;
  color: #f8c12c;
}

.contact-header {
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  width: 20%;
}

.logo-container > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.contact-detail-container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-container {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.contact-logo-container {
  height: 3rem;
  width: 4rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #565656;
  color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.contact-logo-container:hover {
  transform: scale(1.2);
  color: #f8c12c;
  transition: 0.2s linear;
}

.contact-logo-detail-container {
  width: 100%;
  color: #565656;
}

.contact-logo-detail-container h3 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1%;
}

.navbar {
  position: absolute;
  width: 90%;
  margin: 0% 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #313131;
  border-bottom: 3px solid #f8c12c;
}

.navbar-items {
  width: 45%;
  padding: 2.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.navbar-items li a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #ffffff;
  letter-spacing: 0.05rem;
  position: relative;
  display: block;
  overflow: hidden;
}

.navbar-items li span {
  display: block;
  transition: 0.6s;
}

.active-navbar-item {
  color: #f8c12c;
  font-weight: 700;
}

.navbar-items li a:hover .navbar-item {
  transform: translateY(-100%);
}

.navbar-items li a:before {
  content: attr(data-link-alt);
  position: absolute;
  top: 100%;
  opacity: 0;
  transition: 1s;
  color: #f8c12c;
  font-weight: 600;
}

.navbar-items li a:hover:before {
  top: 0;
  opacity: 1;
}

.query-button-container {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.send-query-button {
  width: 50%;
  padding: 3% 1%;
  margin-right: 5%;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border: none;
  background-color: #f8c12c;
  cursor: pointer;
}

.send-query {
  margin-left: 10%;
}

.home-image-container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 3% auto;
  background: url('../assets/home_background.jpg');
  background-size: cover;
  z-index: -1;
}

.black-overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  margin: 0% auto;
  background-color: #00000086;
  z-index: 1;
}

.home-details-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.home-left-section {
  height: 100%;
  width: 65%;
}

.home-right-section {
  height: 100%;
  width: 35%;
}

.home-right-section > img {
  margin-top: 9%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.left-content {
  animation: 1s ease-out 0s 1 slideInTop;
}

.home-right-section {
  animation: 1s ease-out 0s 1 slideInTop1;
}

@keyframes slideInTop1 {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.left-content {
  margin: 13rem 5rem;
  line-height: 4.5rem;
  word-wrap: wrap;
  color: #ffffff;
}

.left-content h1 {
  font-size: 1.5rem;
  font-weight: 800;
}

.left-content h2 {
  font-size: 2rem;
  font-weight: 500;
}

.left-content p {
  font-weight: 400;
  line-height: 2rem;
}

.left-content button {
  position: absolute;
  margin-top: 5rem;
  padding: 0.5rem 3rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 50px;
  background: none;
  border: 2px solid #f8c12c;
  cursor: pointer;
  color: #f8c12c;
  z-index: 100;
}

.left-content button:hover {
  text-decoration: underline;
  background-color: #ffffff;
}

.important {
  color: #f8c12c;
  font-weight: 700;
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}
