.page-header {
  width: 95%;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome-company {
  width: 30%;
  font-size: 1rem;
  font-weight: 300;
  color: #626262;
  letter-spacing: 0.2rem;
  text-align: center;
}

.social-media-container {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social-media-container a {
  font-size: 1.3rem;
  padding-left: 5%;
  border-left: 1px solid #dedede;
  text-decoration: none;
  color: #626262;
}

.social-media-container a:hover {
  color: #393939;
}

.contact-header {
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  width: 20%;
  text-align: center;
}

.contact-detail-container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-container {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.contact-logo-container {
  height: 3rem;
  width: 4rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4a4a4a;
  color: #ffffff;
  border-radius: 50%;
}

.contact-logo-detail-container {
  width: 100%;
  color: #4a4a4a;
}

.contact-logo-detail-container h3 {
  font-size: 1.3rem;
  font-weight: 500;
}
