.profile-page {
  height: 100vh;
  width: 100%;
  background-color: #b8b8b8;
}

.user-profile-container {
  height: 80vh;
  width: 70%;
  margin: 2% auto;
  background-color: #000000cb;
  border-radius: 5px;
  box-shadow: #0000000d 0px 6px 24px 0px, #00000014 0px 0px 0px 1px;
}

.user-profile-header {
  width: 96%;
  padding: 1% 2%;
  border-bottom: 2px solid #e3a701;
}

.user-profile-header h1 {
  color: #f8c12c;
}

.user-profile-details {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.user-profile-sidebar {
  height: 100%;
  width: 25%;
  box-shadow: #0000000d 0px 6px 24px 0px, #00000014 0px 0px 0px 1px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  /* gap: 2rem; */
}

.user-profile-sidebar a,
.user-profile-nav-item {
  width: 85%;
  padding: 8% 0% 8% 15%;
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1rem;
  font-weight: 400;
  background: none;
  border: none;
}

.user-profile-sidebar .user-profile-nav-item {
  text-align: left;
  cursor: pointer;
}

.user-profile-sidebar a:hover,
.user-profile-nav-item:hover {
  color: #f8c12c;
  background-color: #3b3b3bbe;
}

.user-profile-sidebar a i,
.user-profile-nav-item i {
  margin-right: 5%;
}

.user-profile-active-nav-item {
  color: #f8c12c;
  background-color: #3b3b3bbe;
}

.user-profile-detail {
  width: 75%;
  height: 70vh;
}

.user-profile-information-container {
  height: 80%;
  width: 100%;
}

.user-profile-information-container h1 {
  margin: 2%;
  font-size: 1.2rem;
  color: #f8c12c;
}

.user-profile-image-container {
  width: 84%;
  padding: 1% 8%;
  display: flex;
  align-items: end;
  justify-content: start;
}

.user-profile-image {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.user-profile-image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.user-profile-image-button-container {
  width: 50%;
}

.user-profile-image-remove-button,
.user-profile-image-edit-button {
  margin: 0% 3%;
  padding: 3% 8%;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 500;
  background-color: red;
  color: #ffffff;
  cursor: pointer;
}

.user-profile-image-edit-button {
  background-color: blue;
}

.user-profile-account-information-form {
  width: 100%;
}

.user-profile-account-information-form-container {
  width: 100%;
  margin: 2% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.user-profile-account-information-container h1,
.user-profile-change-password-container h1 {
  margin: 2%;
  font-size: 1.2rem;
  color: #ebebeb;
}

.user-profile-change-password-container {
  width: 40%;
  height: 20vh;
}

.user-profile-change-password-container .input-fields input:focus {
  outline: none;
  border: 1px solid #454545;
}

.user-profile-change-password-container .input-fields {
  position: relative;
  margin: 5% 0%;
}

.user-profile-change-password-container .input-fields label {
  position: absolute;
  padding-left: 10px;
  top: 15px;
  cursor: text;
}

.user-profile-change-password-container .input-fields input:focus + label,
.user-profile-change-password-container
  .input-fields
  input:not(:placeholder-shown)
  + label {
  opacity: 1;
  transform: scale(0.9) translateY(-190%) translateX(-10%);
  color: #f4f4f4;
  font-weight: 500;
}

.user-profile-change-password-container .input-fields label {
  margin-top: -1%;
}

.user-profile-change-password-container .input-fields input {
  height: 2.5rem;
  width: 100%;
  margin-bottom: 2%;
  padding-left: 3%;
  border: 1px solid #313131;
  color: #313131;
  border-radius: 5px;
  font-size: 1rem;
}

.user-profile-change-password-container .input-fields label,
.user-profile-change-password-container .input-fields input {
  transition: all 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: 0.5;
}

.user-profile-save-button-container {
  width: 98%;
  margin: 5% 0% 0% 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.user-profile-cancel-button,
.user-profile-save-button {
  padding: 1% 3%;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.user-profile-save-button {
  background-color: #f8c12c;
}
