.profile-page {
  height: 100vh;
  width: 100%;
  background: url('../assets/profile_background_image.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.user-profile-container {
  height: 80vh;
  width: 70%;
  margin: 2% auto;
  background-color: #000000cd;
  border-radius: 5px;
}

.user-profile-header {
  width: 96%;
  padding: 1% 2%;
  border-bottom: 2px solid #e3a701;
}

.user-profile-header h1 {
  color: #f8c12c;
}
