.shipping-address-page {
    width: 100%;
}

.shipping-address-container {
    width: 85%;
    min-height: 80vh;
    margin: 3% auto 5% auto;
}

.shipping-address-container h1 {
    margin: 0% 0% 3% 5%;
    font-size: 2rem;
    font-weight: 700;
    color: #9e9e9e;
}

.shipping-address-form-container {
    width: 60%;
    margin: 5% auto;
}

.shipping-address-form {
    width: 85%;
}

.shipping-address-form .input-fields input:focus {
    outline: none;
    border: 1px solid #454545;
}

.shipping-address-form .input-fields {
    position: relative;
    margin: 5% 0%;
}

.shipping-address-form .input-fields label {
    position: absolute;
    padding-left: 10px;
    top: 15px;
    cursor: text;
}

.shipping-address-form .input-fields input:focus+label,
.shipping-address-form .input-fields input:not(:placeholder-shown)+label {
    opacity: 1;
    transform: scale(0.9) translateY(-190%) translateX(-10%);
    color: #000000;
    font-weight: 500;
}

.shipping-address-form .input-fields label {
    margin-top: -0.5%;
}

.shipping-address-form .input-fields input {
    height: 2.5rem;
    width: 100%;
    padding-left: 3%;
    border: 1px solid #313131;
    color: #313131;
    border-radius: 5px;
    font-size: 1rem;
}

.shipping-address-form .input-fields label,
.shipping-address-form .input-fields input {
    transition: all 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0.5;
}

.shipping-address-submit-button {
    padding: 1.5% 4%;
    font-size: 1.1rem;
    font-weight: 400;
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: #0044ff;
    color: #ffffff;
    cursor: pointer;
}